smart-apps/main/default/flows/Smart_Flow_Buttons_Example.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Set_isTourComplete_true</name>
        <label>Set isTourComplete = true</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>isTourComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>scr_Tour_Screen_1</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>alignCenter</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Center&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Center</stringValue>
        </value>
    </choices>
    <choices>
        <name>alignLeft</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Left&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Left</stringValue>
        </value>
    </choices>
    <choices>
        <name>alignRight</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Right&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Right</stringValue>
        </value>
    </choices>
    <description>Smart Flow Buttons - Example Flow</description>
    <environments>Default</environments>
    <interviewLabel>Smart Flow Buttons - Example {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Smart Flow Buttons - Example</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>scr_Tour_Screen_1</name>
        <label>Tour Screen 1</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>scr_Tour_Screen_2</targetReference>
        </connector>
        <fields>
            <name>disp_tour_ended</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(46, 125, 50); background-color: rgb(255, 255, 255);&quot;&gt;Thanks for taking the tour!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isTourComplete</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>disp_introduction1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(13, 71, 161); font-size: 20px;&quot;&gt;Smart Flow Navigations  - LWC Buttons&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;Easily add custom-styled Flow Navigation buttons to your Salesforce Flow screens! With this simple component, you can place as many buttons as you need, wherever you want in your Flow.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Developed by: Anirban Roy&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>flowNavigation1</name>
            <extensionName>c:smartFlowNavigations</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonsList</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Go Back&quot;,&quot;isNextAction&quot;:false,&quot;variant&quot;:&quot;neutral&quot;,&quot;outputValue&quot;:&quot;Previous&quot;,&quot;icon&quot;:&quot;utility:chevronleft&quot;,&quot;iconAlignment&quot;:&quot;left&quot;,&quot;hideWhenUnavailable&quot;:true},{&quot;label&quot;:&quot;Take the Tour!&quot;,&quot;isNextAction&quot;:true,&quot;variant&quot;:&quot;#1565C0&quot;,&quot;outputValue&quot;:&quot;Next&quot;,&quot;icon&quot;:&quot;utility:chevronright&quot;,&quot;iconColor&quot;:&quot;#fff&quot;,&quot;labelColor&quot;:&quot;#fff&quot;,&quot;iconAlignment&quot;:&quot;right&quot;,&quot;hideWhenUnavailable&quot;:false}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_Tour_Screen_2</name>
        <label>Tour Screen 2</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>scr_Tour_Screen_3</targetReference>
        </connector>
        <fields>
            <name>disp_Text1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;1. You can create buttons in any of the following variants: &apos;&lt;/span&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;neutral&lt;/strong&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;&apos; (no color), &apos;&lt;/span&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;blue&lt;/strong&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;&apos;, &apos;&lt;/span&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;blue outlined&lt;/strong&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;&apos;, &apos;&lt;/span&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;green&lt;/strong&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;&apos;, &apos;&lt;/span&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;red&lt;/strong&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;&apos;, &apos;&lt;/span&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;red outlined&lt;/strong&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;&apos;, or even a custom color using a hex (&lt;/span&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;#RRGGBB&lt;/strong&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;) value, as shown below:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>flowNavigation2</name>
            <extensionName>c:smartFlowNavigations</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonsList</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Neutral&quot;,&quot;isNextAction&quot;:true,&quot;variant&quot;:&quot;Neutral&quot;},{&quot;label&quot;:&quot;Blue&quot;,&quot;isNextAction&quot;:true,&quot;variant&quot;:&quot;BLUE&quot;},{&quot;label&quot;:&quot;Blue Outlined&quot;,&quot;isNextAction&quot;:true,&quot;variant&quot;:&quot;Blue OUTLINED&quot;},{&quot;label&quot;:&quot;Green&quot;,&quot;isNextAction&quot;:true,&quot;variant&quot;:&quot;GREEN&quot;},{&quot;label&quot;:&quot;Red&quot;,&quot;isNextAction&quot;:true,&quot;variant&quot;:&quot;Red&quot;},{&quot;label&quot;:&quot;Red Outlined&quot;,&quot;isNextAction&quot;:true,&quot;variant&quot;:&quot;RED Outlined&quot;},{&quot;label&quot;:&quot;Custom Color&quot;,&quot;isNextAction&quot;:true,&quot;variant&quot;:&quot;#6A1B9A&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>disp_Text2</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;2. And can be aligned anywhere you like :&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LayoutAlignment</name>
            <choiceReferences>alignRight</choiceReferences>
            <choiceReferences>alignCenter</choiceReferences>
            <choiceReferences>alignLeft</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>alignRight</defaultSelectedChoiceReference>
            <fieldText>Select Layout Alignment :</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>flowNavigation3</name>
            <extensionName>c:smartFlowNavigations</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonsList</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Previous Screen&quot;,&quot;isNextAction&quot;:false,&quot;variant&quot;:&quot;neutral&quot;,&quot;hideWhenUnavailable&quot;:true},{&quot;label&quot;:&quot;Next Screen&quot;,&quot;isNextAction&quot;:true,&quot;variant&quot;:&quot;#1565C0&quot;,&quot;hideWhenUnavailable&quot;:false}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>layoutAlignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LayoutAlignment</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>alignRight</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>flowNavigation4</name>
            <extensionName>c:smartFlowNavigations</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>layoutAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LayoutAlignment</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>alignCenter</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>flowNavigation5</name>
            <extensionName>c:smartFlowNavigations</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>layoutAlignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LayoutAlignment</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>alignLeft</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_Tour_Screen_3</name>
        <label>Tour Screen 3</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>scr_Tour_Screen_4</targetReference>
        </connector>
        <fields>
            <name>disp_Text3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;3. You can also add icons as well!﻿&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>flowNavigation6</name>
            <extensionName>c:smartFlowNavigations</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonsList</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Skip&quot;,&quot;isNextAction&quot;:true,&quot;variant&quot;:&quot;blue outlined&quot;,&quot;icon&quot;:&quot;utility:skip_back&quot;,&quot;iconAlignment&quot;:&quot;left&quot;},{&quot;label&quot;:&quot;Delete File&quot;,&quot;isNextAction&quot;:true,&quot;variant&quot;:&quot;red&quot;,&quot;icon&quot;:&quot;utility:delete&quot;,&quot;iconAlignment&quot;:&quot;left&quot;},{&quot;label&quot;:&quot;Confirm Selection&quot;,&quot;isNextAction&quot;:true,&quot;variant&quot;:&quot;green&quot;,&quot;icon&quot;:&quot;utility:like&quot;,&quot;iconAlignment&quot;:&quot;left&quot;},{&quot;label&quot;:&quot;Download File&quot;,&quot;isNextAction&quot;:true,&quot;variant&quot;:&quot;blue&quot;,&quot;icon&quot;:&quot;utility:download&quot;,&quot;iconAlignment&quot;:&quot;left&quot;},{&quot;label&quot;:&quot;Favorite&quot;,&quot;isNextAction&quot;:true,&quot;variant&quot;:&quot;#4527A0&quot;,&quot;icon&quot;:&quot;utility:heart&quot;,&quot;iconAlignment&quot;:&quot;left&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>layoutAlignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>disp_Text4</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;4. ...And customize the label and icon colors too!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>flowNavigation7</name>
            <extensionName>c:smartFlowNavigations</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonsList</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Progress Onward!&quot;,&quot;isNextAction&quot;:true,&quot;variant&quot;:&quot;#FEDBD0&quot;,&quot;outputValue&quot;:&quot;Next&quot;,&quot;icon&quot;:&quot;utility:macros&quot;,&quot;iconColor&quot;:&quot;#442C2E&quot;,&quot;labelColor&quot;:&quot;#442C2E&quot;,&quot;iconAlignment&quot;:&quot;right&quot;,&quot;hideWhenUnavailable&quot;:false},{&quot;label&quot;:&quot;Step Ahead!&quot;,&quot;isNextAction&quot;:true,&quot;variant&quot;:&quot;#5D1049&quot;,&quot;outputValue&quot;:&quot;Next&quot;,&quot;icon&quot;:&quot;utility:right&quot;,&quot;iconColor&quot;:&quot;#fff&quot;,&quot;labelColor&quot;:&quot;#fff&quot;,&quot;iconAlignment&quot;:&quot;right&quot;,&quot;hideWhenUnavailable&quot;:false},{&quot;label&quot;:&quot;Keep Moving!&quot;,&quot;isNextAction&quot;:true,&quot;variant&quot;:&quot;#F9AA33&quot;,&quot;outputValue&quot;:&quot;Next&quot;,&quot;icon&quot;:&quot;utility:forward&quot;,&quot;iconColor&quot;:&quot;#232f34&quot;,&quot;labelColor&quot;:&quot;#232f34&quot;,&quot;iconAlignment&quot;:&quot;right&quot;,&quot;hideWhenUnavailable&quot;:false}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>layoutAlignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>disp_Text5</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;5. Align icons, as per your needs!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IconAlignment</name>
            <choiceReferences>alignRight</choiceReferences>
            <choiceReferences>alignLeft</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>alignRight</defaultSelectedChoiceReference>
            <fieldText>Choose Icon Alignment :</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>flowNavigation8</name>
            <extensionName>c:smartFlowNavigations</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>layoutAlignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonsList</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Previous&quot;,&quot;isNextAction&quot;:false,&quot;variant&quot;:&quot;neutral&quot;,&quot;icon&quot;:&quot;utility:skip&quot;,&quot;iconAlignment&quot;:&quot;right&quot;},{&quot;label&quot;:&quot;Next&quot;,&quot;isNextAction&quot;:true,&quot;variant&quot;:&quot;#1565C0&quot;,&quot;icon&quot;:&quot;utility:forward&quot;,&quot;iconColor&quot;:&quot;#fff&quot;,&quot;iconAlignment&quot;:&quot;right&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IconAlignment</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>alignRight</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>flowNavigation9</name>
            <extensionName>c:smartFlowNavigations</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>layoutAlignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonsList</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Previous&quot;,&quot;isNextAction&quot;:false,&quot;variant&quot;:&quot;neutral&quot;,&quot;icon&quot;:&quot;utility:skip&quot;,&quot;iconAlignment&quot;:&quot;left&quot;},{&quot;label&quot;:&quot;Next&quot;,&quot;isNextAction&quot;:true,&quot;variant&quot;:&quot;#1565C0&quot;,&quot;icon&quot;:&quot;utility:forward&quot;,&quot;iconColor&quot;:&quot;#fff&quot;,&quot;iconAlignment&quot;:&quot;left&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IconAlignment</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>alignLeft</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_Tour_Screen_4</name>
        <label>Tour Screen 4</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>scr_Tour_Screen_5</targetReference>
        </connector>
        <fields>
            <name>disp_Text6</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;5. Last, but not the least, you can include an optional horizontal line too:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IsShowLine</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Show Horizontal Line?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>flowNavigation10</name>
            <extensionName>c:smartFlowNavigations</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>includeLine</name>
                <value>
                    <elementReference>IsShowLine</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonsList</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Previous&quot;,&quot;isNextAction&quot;:false,&quot;variant&quot;:&quot;neutral&quot;,&quot;outputValue&quot;:&quot;Previous&quot;,&quot;icon&quot;:&quot;utility:chevronleft&quot;,&quot;iconAlignment&quot;:&quot;left&quot;,&quot;hideWhenUnavailable&quot;:true},{&quot;label&quot;:&quot;Next&quot;,&quot;isNextAction&quot;:true,&quot;variant&quot;:&quot;#1565C0&quot;,&quot;outputValue&quot;:&quot;Next&quot;,&quot;icon&quot;:&quot;utility:chevronright&quot;,&quot;iconColor&quot;:&quot;#fff&quot;,&quot;labelColor&quot;:&quot;#fff&quot;,&quot;iconAlignment&quot;:&quot;right&quot;,&quot;hideWhenUnavailable&quot;:false}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_Tour_Screen_5</name>
        <label>Tour Screen 5</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_isTourComplete_true</targetReference>
        </connector>
        <fields>
            <name>disp_Text7</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;7. Now, putting up everything together!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>flowNavigation11</name>
            <extensionName>c:smartFlowNavigations</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonsList</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Variant-Based Button&quot;,&quot;isNextAction&quot;:true,&quot;variant&quot;:&quot;blue&quot;},{&quot;label&quot;:&quot;Button with Custom Background&quot;,&quot;isNextAction&quot;:true,&quot;variant&quot;:&quot;#4E342E&quot;},{&quot;label&quot;:&quot;Button with Right (Default) Icon&quot;,&quot;isNextAction&quot;:true,&quot;variant&quot;:&quot;#D50000&quot;,&quot;icon&quot;:&quot;utility:right&quot;,&quot;iconAlignment&quot;:&quot;right&quot;},{&quot;label&quot;:&quot;Button with Left Icon&quot;,&quot;isNextAction&quot;:true,&quot;variant&quot;:&quot;#01579B&quot;,&quot;icon&quot;:&quot;utility:chevronleft&quot;,&quot;iconAlignment&quot;:&quot;left&quot;},{&quot;label&quot;:&quot;Button with Custom Icon Color&quot;,&quot;isNextAction&quot;:true,&quot;variant&quot;:&quot;#212121&quot;,&quot;icon&quot;:&quot;utility:palette&quot;,&quot;iconAlignment&quot;:&quot;left&quot;,&quot;iconColor&quot;:&quot;#FFFF00&quot;},{&quot;label&quot;:&quot;Button with Custom Icon &amp; Label Color&quot;,&quot;isNextAction&quot;:true,&quot;variant&quot;:&quot;#004D40&quot;,&quot;icon&quot;:&quot;utility:color_swatch&quot;,&quot;iconAlignment&quot;:&quot;left&quot;,&quot;iconColor&quot;:&quot;#FFFF00&quot;,&quot;labelColor&quot;:&quot;#FFD600&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>layoutAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeLine</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>scr_Tour_Screen_1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>isTourComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
